<div class="mb-12 mt-9 sm:px-6">
  <div class="fj-gallery" id="nanogallery2" style="visibility: hidden;">
  </div>

  <script>
    jQuery("#nanogallery2").nanogallery2({
     "viewerToolbar":   {
             "standard":   "label, linkOriginalButton, infoButton",
             "minimized":  "label, linkOriginalButton, infoButton, cart" },
     "viewerTools":    {
                "topLeft":   "",
                "topRight":  "info, linkOriginalButton, playPauseButton, fullscreenButton, closeButton" },
        "kind":             "flickr",
        "thumbnailLabel": {displayDescription: false},
        "userID":           "{{ .Site.Params.nanog.flickr_userid }}",
        "flickrAPIKey":     "{{ .Site.Params.nanog.flickr_apikey }}",
        "flickrExif":       true,
        "fnPopupMediaInfo": function (item, title, content) {
            var title = item.title;
                    function unescape(str){
                        return str.replace(/&lt;/g, "<")
                                  .replace(/&gt;/g, ">")
                                  .replace(/&quot;/g, '"')
                                  .replace(/&amp;/g, "&");
                    }

              content = '<div class="nGY2PopupOneItemText">' + unescape(item.description);
              if( item.author != '' ) {
                content += '<br/>' + 'by ' + item.author;
              }
                    content += '</div>'
                    var sexif = '';
              if( item.exif.model != '' || item.exif.lens != '' ) {
                sexif  += '📷'
                        sexif += item.exif.model  == '' ? '' : '&nbsp;' + item.exif.model
                        if( item.exif.model != '' && item.exif.lens != '' ) {
                            sexif += '&nbsp;·'
                        }
                        sexif += item.exif.lens  == '' ? '' : '&nbsp;' + item.exif.lens;
              }
              if( item.exif.focallength != '' || item.exif.fstop != '' || item.exif.exposure != '' || item.exif.iso != '' || item.exif.time != '' ) {
                    sexif += '<br/>';
                    sexif += '📸';
                    var sexif_items = [];
              sexif_items.push(item.exif.focallength == '' ? '' : '&nbsp; ' + item.exif.focallength);
                    sexif_items.push(item.exif.exposure == '' ? '' : '&nbsp; ' + item.exif.exposure+'s');
              sexif_items.push(item.exif.fstop == '' ? '' : '&nbsp; f/' + item.exif.fstop);
              sexif_items.push(item.exif.iso == '' ? '' : '&nbsp; ' + item.exif.iso+'iso');
                    sexif += sexif_items.join('&nbsp;·')
                    if( item.exif.flash != '' ) {
                        sexif += '<br>';
                        sexif += item.exif.flash == '' ? '' : 'flash: ' + item.exif.flash;
                    }
              if( item.exif.time != '' ) {
                        sexif += '<br/>';
                // var date = new Date(parseInt(item.exif.time));
                // sexif += ' &nbsp; '+date.toLocaleDateString();
                sexif += 'Captured at&nbsp; ' + item.exif.time;
              }
              }
                    content += '<div class="nGY2PopupOneItemText">' + sexif + '</div>';

                    if( item.tags.length > 0 ) {
                        tags = ''
                        for(var i = 0; i < item.tags.length; i++) {
                            tags += '#' + item.tags[i] + '&emsp;&emsp;';
                        }
                        content += '<div class="nGY2PopupOneItemText">' + tags + '</div>';
                    }

            return {content: content, title: title}; },
        "thumbnailHeight":  450,
        "thumbnailWidth":   "auto",
        "viewerZoom":       false,
        "album": "{{ .Params.flickr_album }}",
        {{ if .Site.Params.nanog.tagBlockList }}
        "tagBlockList": "{{ .Site.Params.nanog.tagBlockList }}",
        {{ end }}
        "thumbnailBorderVertical": 0,
        "thumbnailBorderHorizontal": 0,
        "thumbnailHoverEffect2": "{{ .Site.Params.nanog.thumbnailHoverEffect2 }}",
        "thumbnailAlignment": "center",
        "thumbnailGutterWidth": 10,
        "thumbnailGutterHeight": 10
    })
</script>
</div>
